body  {
   background-color: whitesmoke;
    font-family: "lobster", cursive;
}
.jumbotron  {
    background-color: darkgray;
    color: white;
    margin-bottom: 0;
}

h1  {
    font-family: "lobster", cursive;
    font-size: 100px;
}

.navbar  {
    background-color: black;
    margin-top: 0;
}