body {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
    background-color: darkblue;
    color: black;
    margin-bottom: 0;
}

h1 {
    font-family: "lobster", cursive;
}

.navbar {
    background-color: black;
    margin: 0%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#modalRegisterForm .modal-header {
    background-color: darkolivegreen;
    color: white;
}

#loginModal .modal-header {
    background-color: blue;
    color: white;
}

#home  {
    font-size: 5rem;
}