body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
    background-color: darkblue;
    color: black;
    margin-bottom: 0;
}

h1 {
    font-family: "lobster", cursive;
}

.navbar {
    background-color: black;
    margin: 0%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}